<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form class="" action="/" method="post">
  <input type="number" name="age" placeholder="Age">
  <button type="submit" name="button">Submit</button>
</form>
